body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
}

.website-info {
    display: flex;
    margin-top: 100px;
}

.text-msg , .image{
    width: 500rem;
}

.container-1 {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    background-color: #1f2937;
}
.image {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-msg , button , a, .image{
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: rgb(8, 8, 220);
    border :rgb(8, 8, 220);
    border-radius: 15px;
    padding: 15px 30px;

}

.image img {
    width: 750px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.blog-1, .blog-2, .blog-3, .blog-4 {
    height: 300px;
    width: 250px;
    text-align: center;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

.blog {
    display: flex;
    justify-content:center;
    gap: 70px;
    margin-bottom: 100px;
}

.heading {
    font-size: 36px;
    text-align: center;
    margin: 50px;
}

p {
    margin-top: 10px;
}

.container-3 {
    background-color: #E5E7EB;
    padding: 100px 300px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.writer {
    text-align: end;
    font-size: 18px;
    font-weight: bold;
}

.container-4 {
    margin: 200px ;
    background-color: rgb(35, 35, 228);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    
}
.container-4__heading h3 {
    margin: 0;
    padding: 0;
}
.container-4__heading {
    font-size: 30px;
    color: #f9faf8;
}

.container-4__button {
    align-self: center;
}

.container-4__button button {
    border-style: solid;
    border-color: #f9faf8;
    padding: 15px 40px;
}

.container-4__heading p {
    padding: 0;
    margin-bottom: 0;
    font-size: 18px;
}